.git
.env
node_modules
vendor
public/audio
public/css
public/hot
public/js
public/build
public/storage
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/backups/*
!storage/backups/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
npm-debug.log
local/*.tar
