/node_modules
/.npm-cache
/public/hot
/public/storage
/public/css
/public/js
/public/audio
/public/build
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
/deploy.yml
/.deployment-state/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
