GITEA_INSTANCE_URL=https://git.aayutech.dev
GITEA_RUNNER_REGISTRATION_TOKEN=CHANGE_ME_RUNNER_TOKEN
GITEA_RUNNER_NAME=restaurant-pos-docker-runner
GITEA_RUNNER_LABELS=ubuntu-latest:docker://node:20-bookworm
